@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@150;400&display=fallback');

body {
    padding: 4vw;

    font-family: "Roboto Mono", Arial, sans-serif;
    font-weight:400;

    color: #CCCCCC;
    background: #12246F;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
}

.h1-container {
    width: 30vw;
    margin: 0;
    display: flex;
}

h1 {
    margin: auto;
    font-size: 5em;
    font-weight: 150;
    text-align: center;
}

p {
    margin-top: 8vh;
    margin-left: 8vw;
    margin-bottom: 8vh;
    margin-right: 8vw;
    font-size: 1.3em;
    text-align: center;
}

nav {
    display: flex;
    margin-top: 4vh;
    margin-bottom: 8vh;
    margin-left: 12vw;
    margin-right: 12vw;
    font-size: 1.7em;
    justify-content: space-around;
}

.spin-image {
    transition: transform .2s ease-in-out;
}

.spin-image:hover {
    transform: rotate(180deg);
}

.selected {
   text-decoration: underline; 
}

.hidden {
    display: none;
}

@media only screen and (max-width: 780px) {
    h1 {
        font-size: 2.4em;
    }
}
